.portfolis {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 2rem;
	column-gap: 2rem;
}
.hover-items {
	list-style: none;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hover-items > li > a {
	padding: 0.6rem;
	text-decoration: none;
	font-family: inherit;
	border-radius: 10px;
	background-color: #7d03ff;
	color: #a4acc4;
}
.hover-items > li > a:hover,
.btn-port:hover {
	background-color: #a4acc4;
	color: #7d03ff;
}
.hover-items > li > a:not(:last-child) {
	margin-right: 2rem;
}
.portfolio > h5 {
	font-size: 1.5rem;
	font-weight: 500;
	color: #a4acc4;
	text-align: center;
	transition: all 0.3s ease-in-out;
	padding: 0.5rem;
}
.portfolio > h5:hover {
	color: #7d03ff;
	cursor: pointer;
}
.portfolio > p {
	font-size: 1rem;
	font-weight: 400;
	color: #a4acc4;
}
.image-data {
	position: relative;
	border: 2px solid #a4acc4;
	padding: 0.5rem;
}
.image-data::before {
	content: '';
	position: absolute;
	top: 12px;
	left: 15px;
	height: calc(100% - 30px);
	width: calc(100% - 30px);
}
.btn-port {
	padding: 0.6rem 2rem;
	background-color: #7d03ff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
	color: #a4acc4;
	margin-bottom: 1rem;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}
.btn-port:not(:last-child) {
	margin-right: 1rem;
}
.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2.5rem;
	border-radius: 3px;
	flex-wrap: wrap;
}

@media screen and (max-width: 950px) {
	.buttons {
		margin: 2.5rem 0.5rem 0.5rem 0.5rem;
		justify-content: flex-start;
	}
	.portfolis {
		grid-template-columns: repeat(1, 1fr);
	}
}
