.ServicesSection {
	width: 100%;
}
.service {
	width: 100%;
	background-color: #191d2b;
	border-left: 1px solid #2e344e;
	border-right: 1px solid #2e344e;
	border-bottom: 1px solid #2e344e;
	border-top: 8px solid #2e344e;
	transition: all 0.4s ease-in-out;
}
.service:hover {
	border-top: 8px solid #7d03ff;
}
.service-content {
	padding: 1rem;
}
.company {
	display: flex;
	color: #7d03ff;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
}
.service-section {
	font-size: 1rem;
}
.s-text {
	font-size: 1rem;
}
.s-description {
	font-size: 1rem;
	padding: 0.5rem;
}
.s-description > li {
	margin-bottom: 0.25rem;
}
.s-title {
	font-size: 1.5rem;
	font-weight: 500;
	position: relative;
	padding-bottom: 1rem;
	margin: 1rem 0;
}
.servives-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	margin: 2.5rem 0;
}

@media screen and (max-width: 950px) {
	.service {
		min-height: unset;
		width: 100%;
		margin-bottom: 1rem;
	}
}
